#about{
    margin-top:30%;
    display:grid;
    grid-template-columns: 60%  10% 30%
}

#about h3{
    padding-left: 20%;
    font-size: 0.9em;
    color:#D3D3D3
}

#about h2{
    margin: 0
}

#about span{
    color:#FFB6C1
}

#curly{
    width: 100%
}

#shell{
    width:50%
}
