#about{
    margin-top:30%;
    display:grid;
    grid-template-columns: 30%  10% 60%
}

#about h3{
    padding-right:20%;
    font-size: 0.9em;
    color:#D3D3D3
}

#about h2{
    margin: 0;
    float:right
}

#about span{
    color:#FFB6C1
}

#curly{
    width: 100%
}

#shell{
    width:50%;
    float:right
}

@media (max-width:850px){
    #about{
        display:block;
        padding:30px
    }

    #about h2{
        margin: 0;
        float:none;
        font-size: 1.5em;
    }

    #about h3{
        padding:0;
        font-size: 0.6em;
    }

    #about #shell{
        display:none;
    }
    #curly{
        display:none;
    }
 }
