#contact{
    margin-top:30%;
    display:grid;
    grid-template-columns: 30%  10% 60%
}

#contact h2{
    margin-top: 10%;
    padding-left: 20%;
    margin-left: 20%
}


#contact-info{
    margin-top: 5%
}
#contact #icons img{
    width: 6%;
    padding-left:10%
}