#experience{
    margin-top:30%;
    display:grid;
    grid-template-columns: 80% 20%;
}

#work-items{
    border-right: 0.5px solid white;
    padding-left: 10%;
    padding-right: 5%
}

#experience h2{
    padding-left: 5%
}

@media (max-width:850px){
    #experience{
        display: flex;
        flex-flow: column
    }  

    #experience-section{
        order: 1;
        font-size: 1.5em
    }
    #work-items{
        border: 0;
        order: 2;
    }
}
