#experience{
    margin-top:30%;
    display:grid;
    grid-template-columns: 80% 20%;
}

#work-items{
    border-right: 0.5px solid white;
    padding-left: 10%;
    padding-right: 5%
}

#experience h2{
    padding-left: 5%
}