h1{
    font-size: 4em;
    display:inline-block
}

h2{
    font-size: 2em;
    color: #D3D3D3
}

#intro img{
    max-width:50%;
    margin: 0;
    display: inline;
}

#intro{
    margin-top: 10%
}

#img-div{
    display: inline;
}

#img-div p{
    display:inline;
}

.typewriter{
    margin-bottom: 5%;
    display:inline-block
}

@media (max-width:850px){
    #intro p{
         display: none;
    }

    #intro img{
        display:block;
        max-width: 70%;
    }

    h1{
        font-size: 2em;
        display:inline-block
    }
    
    h2{
        font-size: 1em;
        color: #D3D3D3
    }
 }
