#work-item{
    display:grid;
    grid-template-columns: 20% 80%;
    margin-top: 4em
}

#work-item h1{
    font-size: 1.3em
}

#work-item h2{
    font-size: 0.8em;
    color: #E3CEFA
}

#work-item li{
    font-size: 0.7em;
    padding-top: 0.6em;
}

#work-item img{
    width: 100%
}

@media (max-width:850px){
    #work-item{
        display: block;
        border: solid 0.5px;
        padding: 2em
    }  

    #work-item #work-img{
        text-align: center
    }

    #work-item img{
        width: 50%
    }

    #work-item h1{
        font-size: 0.8em
    }

    #work-item h2{
        font-size: 0.6em;
        padding:0;
    }

    #work-item ul {
        padding: 0
    }

    #work-item li{
        font-size: 0.5em;
    }
 }